body {
    background-image: url("home_page.jpg");
    background-position: top;
    background-size: 1400px;
    background-repeat: no-repeat;
}

ul {
    padding: 35px 50px 50px 24px;
    margin: 0px;
    list-style-type: none;
    top: 400px;
    left: 305px;
}

.menu {
    position: relative;
    float: left;
}

li {
    float: left;
}

ul li a {
    line-height: 60px;
    background: url(boutonnoir.png) no-repeat;
    color: #DCDCDC;
    text-decoration: none;
    text-align: center;
    position: relative;
    margin: 269px -345px -29px 91px;
    width: 50px;
    height: 50px;
    padding: 19px 402px 196px 10px;
    font-family: 'Crimson Text', serif;
}

ul li a:hover {
    background: url(boutonnoir2.png) no-repeat;
    color: white;
}

h1,
h2 {
    font-family: 'Crimson Text', serif;
    font-size: 35px;
    color: black;
}

#title {
    float: right;
    clear: right;
    background-color: white;
    opacity: 0.35;
}

#title2 {
    position: absolute;
    font-family: 'Crimson Text', serif;
    top: 290px;
    margin: 0px 463px 10px 460px;
    padding: 2px 65px 3px 71px;
    background-color: rgba(255, 255, 255, 0.7);
}

.liste {
    list-style: none;
    font-family: 'Crimson Text', serif;
    font-size: 25PX;
    margin: 109px 171px 65px 159px;
    padding: 62px 117px 49px 73px;
    float: left;
    /* color: white; */
    background-color: white;
    opacity: 0.7;
}
